/* src/app/footer/footer.component.css */
footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  padding-top: 5px;
  background-color: #A0153E;
  margin-top: 100px;
  height: fit-content;
  }
  footer p {
    color: #ccc;
    margin-top: 8px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
  }
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .social-media-icons {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 6px;
    margin-bottom: 10px;
    
  }
  
  .icon svg {
    fill: white;
    width: 34px;
    height: 34px;
    transition: fill 0.3s ease;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Oval shadow */
    transition: box-shadow 0.3s ease-in-out; 
  }
  