/* src/app/product-order/product-order.component.css */

table {
  width: 90%;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-top: 40px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-large;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow to table */
  background-color: #fff; /* White background for table */
  border-radius: 8px; /* Rounded corners */
  overflow: hidden; /* Ensure rounded corners */
  margin-left: 10px;
  margin-right: 10px;
}

th, td {
  border: 1.92px solid #d59b9b;
  padding: 10px;
  text-align: left;
  
}

th {
  background-color: #4CAF50; /* Dark green background for header */
  color: white;
  font-weight: bold;
}
th:hover{
  background-color: #808080; /* Dark grey background for header */
  color: white;
  font-weight: bold;
}
td {
  background-color: #f9f9f9; /* Light background for table rows */
}
tr:nth-child(even) td {
  background-color: #f1f1f1; /* Alternating row colors */
}

tr:hover td {
  background-color: #f5f5f5; /* Hover effect for rows */
}
select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #e0debc;
  font-size: 14px;
  transition: border-color 0.3s, box-shadow 0.3s;

}
select:focus {
  border-color: #4CAF50;
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.2);
  outline: none;
}

button {
  padding: 10px;
  margin: 8px;
  margin-left: 15px;
  background-color: #11eebb; /* Green */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  font-weight: bold;
}
button:hover{
  background-color: #3e8e41; /* Green */
  transform: scale(1.13);
}
.showbtn{
  padding: 15px ;
  margin-top: 10px;
  background-color: #ba2e95; /* Green */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 14px;
  transition: background-color 0.3s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  font-weight: bold;
}
.showbtn:hover{
  background-color: #754bd0; /* Green */
  transform: scale(1.13);
}
div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order-container {
  background-color: #4a0d0d;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  border: 1.3px solid linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  border-radius: 8px;
  margin-top: 20px;
  width: 90%;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
.order-container:hover{
  background-color: #6d1a1af1;
  transition: background-color 3 seconds;
}
.order-container h3 {
  margin-bottom: 10px;
  color: #c6dbc6; 
  font-weight: bold;
  text-shadow: #13de1a 1px 1px;
  font-size: 2.5rem;
}

.order-container ul {
  list-style-type: none;
  padding: 5px;
  width: 100%;
  margin: 10px;
  
  
}


.order-container button {
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 12px;
  background-color: #13de1a; /* Green */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.3s;
}

.order-container button:hover {
  background-color: #4879ec;
  transform: scale(1.05); /* Slightly enlarge on hover */
}



.order-container table {
  width: 98%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow to table */
  background-color: #fff; /* White background for table */
  border-radius: 8px; /* Rounded corners */
  overflow: hidden; /* Ensure rounded corners */
  margin-right: 20px;
}

.order-container td {

  border: 1px solid #ddd;
  width: 98%;
  
}

.order-container tr {
  display: block;
  overflow: hidden;
  display: flex;
  /* width: 98%; */
}


